<a href="https://colab.research.google.com/github/mitrasurabhi/NLP-PROJECTS/blob/main/word_to_vec_CNN_quora_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import nltk
nltk.download("popular")
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
from wordcloud import WordCloud
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.layers import Embedding, Conv1D, MaxPooling1D, Flatten, Dense,Bidirectional,GlobalMaxPool1D, Input, GRU
from tensorflow.keras.models import Model,Sequential
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

import gensim

import warnings
warnings.filterwarnings('ignore')

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cmudict.zip.
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gazetteers.zip.
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/genesis.zip.
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gutenberg.zip.
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/inaugural.zip.
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/movie_reviews.zip.
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/names.zip.
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/shakespeare.zip.
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/stopwords.zip.
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/treebank.zip.
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/twitter_samples.zip.
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    | Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    | Downloading package wordnet2021 to /root/nltk_data...
[nltk_data]    | Downloading package wordnet31 to /root/nltk_data...
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet_ic.zip.
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/words.zip.
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Unzipping tokenizers/punkt.zip.
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data]    |
[nltk_data]  Done downloading collection popular

In [ ]:
dataset = pd.read_csv('https://cdn.extras.talentsprint.com/ADSMI/Datasets/quora_question_pairs.zip')
dataset.drop(['id','qid1','qid2'],axis=1,inplace=True)
dataset.dropna(inplace= True)
dataset.tail()

,question1,question2,is_duplicate
404285,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0
404286,Do you believe there is life after death?,Is it true that there is life after death?,1
404287,What is one coin?,What's this coin?,0
404288,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0
404289,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0

In [ ]:
CONTRACTION_MAP = {
    "ain't": "is not",
    "aren't": "are not",
    "can't": "cannot",
    "can't've": "cannot have",
    "'cause": "because",
    "could've": "could have",
    "couldn't": "could not",
    "couldn't've": "could not have",
    "didn't": "did not",
    "doesn't": "does not",
    "don't": "do not",
    "hadn't": "had not",
    "hadn't've": "had not have",
    "hasn't": "has not",
    "haven't": "have not",
    "he'd": "he would",
    "he'd've": "he would have",
    "he'll": "he will",
    "he'll've": "he will have",
    "he's": "he is",
    "how'd": "how did",
    "how'd'y": "how do you",
    "how'll": "how will",
    "how's": "how is",
    "i'd": "i would",
    "i'd've": "i would have",
    "i'll": "i will",
    "i'll've": "i will have",
    "i'm": "i am",
    "i've": "i have",
    "isn't": "is not",
    "it'd": "it would",
    "it'd've": "it would have",
    "it'll": "it will",
    "it'll've": "it will have",
    "it's": "it is",
    "let's": "let us",
    "ma'am": "madam",
    "mayn't": "may not",
    "might've": "might have",
    "mightn't": "might not",
    "mightn't've": "might not have",
    "must've": "must have",
    "mustn't": "must not",
    "mustn't've": "must not have",
    "needn't": "need not",
    "needn't've": "need not have",
    "o'clock": "of the clock",
    "oughtn't": "ought not",
    "oughtn't've": "ought not have",
    "shan't": "shall not",
    "sha'n't": "shall not",
    "shan't've": "shall not have",
    "she'd": "she would",
    "she'd've": "she would have",
    "she'll": "she will",
    "she'll've": "she will have",
    "she's": "she is",
    "should've": "should have",
    "shouldn't": "should not",
    "shouldn't've": "should not have",
    "so've": "so have",
    "so's": "so as",
    "that'd": "that would",
    "that'd've": "that would have",
    "that's": "that is",
    "there'd": "there would",
    "there'd've": "there would have",
    "there's": "there is",
    "they'd": "they would",
    "they'd've": "they would have",
    "they'll": "they will",
    "they'll've": "they will have",
    "they're": "they are",
    "they've": "they have",
    "to've": "to have",
    "wasn't": "was not",
    "we'd": "we would",
    "we'd've": "we would have",
    "we'll": "we will",
    "we'll've": "we will have",
    "we're": "we are",
    "we've": "we have",
    "weren't": "were not",
    "what'll": "what will",
    "what'll've": "what will have",
    "what're": "what are",
    "what's": "what is",
    "what've": "what have",
    "when's": "when is",
    "when've": "when have",
    "where'd": "where did",
    "where's": "where is",
    "where've": "where have",
    "who'll": "who will",
    "who'll've": "who will have",
    "who's": "who is",
    "who've": "who have",
    "why's": "why is",
    "why've": "why have",
    "will've": "will have",
    "won't": "will not",
    "won't've": "will not have",
    "would've": "would have",
    "wouldn't": "would not",
    "wouldn't've": "would not have",
    "y'all": "you all",
    "y'all'd": "you all would",
    "y'all'd've": "you all would have",
    "y'all're": "you all are",
    "y'all've": "you all have",
    "you'd": "you would",
    "you'd've": "you would have",
    "you'll": "you will",
    "you'll've": "you will have",
    "you're": "you are",
    "you've": "you have"
    }

In [ ]:
def cleaning_text(text):
    text = str(text).lower()
#text = re.sub(r'\b(\w+)[^\w\s]*\b', r'\1', text)
 #remove punctuations
    reg = re.compile('([^0-9A-Za-z t])|(\w+://\S+)|([.\/@#*<>?])')
    text=re.sub(reg,' ',text)
    # expanding the words in using contraction map
    new_text=''
    for word in text.split():
        if word in CONTRACTION_MAP.keys():
            new_text=new_text+CONTRACTION_MAP[word]
        else:
            new_text=new_text+word
        new_text=new_text+' '
    text=new_text
    #remove stop words
    stop_words=set(stopwords.words('english'))
    text = " ".join([lemmatizer.lemmatize(word) for word in text.split() if word not in stop_words])

    return text

In [ ]:
quora = dataset.copy()
quora.question1=dataset.question1.apply(cleaning_text)
quora.question2=dataset.question2.apply(cleaning_text)

In [ ]:
quora.tail()

,question1,question2,is_duplicate
404285,many keywords racket programming language late...,many keywords perl programming language latest...,0
404286,believe life death,true life death,1
404287,one coin,coin,0
404288,approx annual cost living studying uic chicago...,little hairfall problem want use hair styling ...,0
404289,like sex cousin,like sex cousin,0

In [ ]:
# Tokenize the text data
tokenizer = Tokenizer()
clean_ques = list(quora['question1'])+list(quora['question2'])
tokenizer.fit_on_texts(clean_ques)
new_df = pd.DataFrame()
new_df['question1'] = tokenizer.texts_to_sequences(quora["question1"])
new_df['question2'] = tokenizer.texts_to_sequences(quora["question2"])

vocab_size = len(tokenizer.word_index) + 1
print('vocab_size : ' , vocab_size)

vocab_size :  77666

In [ ]:
new_df

,question1,question2
0,"[563, 563, 2063, 487, 495, 262, 3]","[563, 563, 2063, 487, 495, 262]"
1,"[269, 12353, 11737, 18267, 3125]","[8, 119, 21, 156, 9845, 12353, 11737, 18267, 3..."
2,"[147, 352, 277, 1425, 87, 2512]","[277, 352, 3018, 1228, 9333]"
3,"[2513, 2489, 568]","[35, 3598, 135, 2024, 1222, 135, 2229, 1222, 2..."
4,"[9, 5929, 162, 30097, 1718, 1767, 9192, 1758, ...","[1738, 8, 1135, 1767, 162]"
...,...,...
404282,"[30, 2873, 8640, 109, 65, 1033, 828]","[30, 2873, 10032, 109, 65, 1033, 828]"
404283,"[259, 12, 427]","[192, 12, 427]"
404284,"[9, 1748]",[1748]
404285,"[6309, 3027, 201, 372, 588, 25715, 2949, 21, 68]","[862, 7435, 189, 37, 23, 195, 17794, 196, 9, 9..."
404286,"[4, 91, 3457]","[4, 91, 3457]"

In [ ]:
MAX_SEQ1 = np.max(new_df['question1'].apply(lambda x :len(x)))
MAX_SEQ2 = np.max(new_df['question2'].apply(lambda x :len(x)))

print('max words in sentence1 : ' , MAX_SEQ1)
print('max words in sentence2 : ' , MAX_SEQ2)

max words in sentence1 :  54
max words in sentence2 :  103

In [ ]:
list1 = list(new_df['question1'])
df1 = pd.DataFrame(list1)
df1 = df1.fillna('0')
print(df1.shape)

list2 = list(new_df['question2'])
df2 = pd.DataFrame(list2)
df2 = df2.fillna('0')
print(df2.shape)

(404287, 54)
(404287, 103)

In [ ]:
temp_df = pd.concat([df1, df2], axis=1)
temp_df = temp_df.astype(int)
temp_df

,0,1,2,3,4,5,6,7,8,9,...,93,94,95,96,97,98,99,100,101,102
0,563,563,2063,487,495,262,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,269,12353,11737,18267,3125,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,147,352,277,1425,87,2512,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2513,2489,568,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,5929,162,30097,1718,1767,9192,1758,9494,5470,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404282,30,2873,8640,109,65,1033,828,0,0,0,...,0,0,0,0,0,0,0,0,0,0
404283,259,12,427,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
404284,9,1748,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
404285,6309,3027,201,372,588,25715,2949,21,68,0,...,0,0,0,0,0,0,0,0,0,0
404286,4,91,3457,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
print('vocab_size : ' , vocab_size)
temp_df.shape
max_length = temp_df.shape[1]
print('max_length : ' , max_length)

vocab_size :  77666
max_length :  157

In [ ]:
# Train the word2vec model
#from gensim.models import Word2Vec
sentence1 = [str(sentence).split() for sentence in quora['question1']]
sentence2 = [str(sentence).split() for sentence in quora['question2']]
sentence = sentence1 + sentence2
#sentence1[:20]
w2v_model = gensim.models.Word2Vec(sentence,vector_size=100,window=5,min_count=1)

In [ ]:
embedding_matrix = np.zeros((vocab_size, 100))
for word, i in tokenizer.word_index.items():
    if word in w2v_model.wv:
        embedding_matrix[i] = w2v_model.wv[word]

embedding_matrix[:5]

array([[ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00],
       [-1.03254223e+00, -1.56304634e+00, -1.08671539e-01,
        -6.32427335e-01, -1.84039354e+00,  5.88482201e-01,
         2.61264473e-01,  7.67465591e-01,  5.18085420e-01,
        -1.37172830e+00,  1.45650887e+00, -1.00715554e+00,
        -1.24976218e+00,  5.23343086e-01, -6.91783905e-01,
        -1.71077800e+00, -6.41895533e-01,  4.52103764e-01,
        -1.24041080e+00, -1.68996406e+00,  1.92044258e+00,
         3.10994893e-01,  2.82981217e-01,  3.45816433e-01,
        -8.95144701e-01, -7.89700508e-01, -1.36001825e+00,
         1.70719945e+00, -5.36174119e-01, -1.13842177e+00,
        -2.23285705e-01,  1.55921951e-01,  1.92998970e+00,
         5.17184675e-01, -9.81202163e-03,  6.20851874e-01,
         1.52849925e+00, -2.41968840e-01, -1.20820296e+00,
        -3.48091006e-01, -1.37546733e-01, -1.72057703e-01,
        -9.11366522e-01, -1.91845131e+00, -1.18861878e+00,
        -9.70829725e-02, -3.34449023e-01,  1.93378162e+00,
         1.10524547e+00,  3.05815518e-01,  4.95832324e-01,
         1.33590806e+00,  1.06722045e+00,  4.52492774e-01,
        -1.30797252e-01, -9.53827500e-01,  1.78329313e+00,
        -2.81775999e+00, -2.25708127e+00, -7.62513638e-01,
         6.26063943e-01,  6.31506681e-01,  7.93855488e-01,
        -1.81941426e+00,  5.61620891e-01, -2.23491859e+00,
         7.13922977e-01,  1.11112273e+00, -1.08603966e+00,
        -9.51463103e-01,  7.69928753e-01,  1.18817377e+00,
         1.32895187e-01, -7.93738186e-01,  3.30016017e+00,
         2.29360175e+00,  8.80302429e-01, -1.63311338e+00,
        -1.67035329e+00, -7.58517027e-01, -1.16642073e-01,
         2.24880743e+00,  2.83064699e+00, -8.22971687e-02,
        -9.47391927e-01, -5.95622957e-01,  6.30192518e-01,
         1.51596475e+00, -7.69440114e-01,  1.53693688e+00,
        -7.50462711e-01, -3.56302887e-01,  1.66855824e+00,
        -2.03338161e-01,  2.58606863e+00, -1.80033073e-01,
        -2.20089126e+00,  7.21767485e-01, -1.09136678e-01,
         8.95348862e-02],
       [-2.00072122e+00,  7.71458328e-01,  1.95845044e+00,
        -1.03653252e+00,  1.97474027e+00,  1.96853840e+00,
        -7.79597402e-01,  2.34350130e-01,  1.40029848e+00,
         4.33714082e-03,  3.44440877e-01, -9.05199647e-01,
        -7.60927022e-01,  3.89487088e-01, -6.94651246e-01,
         5.61928988e-01, -6.69396281e-01,  2.39543930e-01,
        -1.27514577e+00, -6.23723805e-01,  1.27101731e+00,
         5.79631738e-02,  1.00364482e+00, -1.13669360e+00,
         2.48534465e+00,  1.78747034e+00,  7.70976245e-01,
         3.10400844e-01,  1.77241015e+00, -7.15268672e-01,
         1.73038915e-01,  7.06552565e-02,  1.49625826e+00,
         8.80554318e-01,  4.93342102e-01,  1.04455955e-01,
         2.64084148e+00, -5.06018460e-01,  1.85327947e+00,
         2.19991612e+00,  1.01681077e+00, -1.58718586e-01,
        -1.34958136e+00,  1.43711671e-01, -7.48398125e-01,
         1.56005228e+00,  1.13710785e+00,  1.47080266e+00,
         9.38180745e-01,  9.96803522e-01,  2.76427960e+00,
        -1.77049351e+00,  5.67907572e-01,  1.35229945e+00,
        -1.68417895e+00, -1.37806368e+00,  4.54849750e-01,
        -2.10748529e+00, -5.91713637e-02,  2.51347005e-01,
        -1.19258320e+00,  1.34070730e+00,  1.39324311e-02,
        -1.45312369e+00, -5.04855886e-02,  9.77612257e-01,
        -2.74824440e-01, -2.88343048e+00, -1.98439300e-01,
         6.04880452e-01, -2.45909050e-01, -7.57977545e-01,
         1.03856432e+00,  1.84676957e+00,  3.08388263e-01,
         7.65859932e-02,  8.42785954e-01, -1.27040780e+00,
        -1.36843467e+00,  2.76250094e-01, -1.84299183e+00,
         3.85743409e-01, -1.12514064e-01, -3.96093637e-01,
        -5.86047590e-01,  6.78806782e-01, -3.38490576e-01,
         5.26912034e-01, -1.27059186e+00,  3.74806881e-01,
        -3.28811705e-01,  1.33014166e+00,  9.35661554e-01,
        -8.45496655e-01,  5.50045550e-01,  8.46978486e-01,
        -1.05579710e+00,  2.26341262e-01, -2.14853302e-01,
        -1.31197378e-01],
       [-1.80375445e+00, -5.37153602e-01, -2.16572976e+00,
        -2.03711271e+00, -1.06051207e-01,  1.66220045e+00,
        -1.24329245e+00, -3.17301929e-01, -7.07775414e-01,
         5.41388810e-01,  7.11311579e-01, -1.09574950e+00,
        -6.38023391e-02,  4.95407313e-01, -2.01590443e+00,
        -1.04053760e+00,  1.23261023e+00,  1.90469754e+00,
         2.23086524e+00, -1.16023028e+00, -7.22696543e-01,
         1.04505420e+00, -2.24371886e+00, -1.80701256e+00,
         7.68135190e-01,  2.60758370e-01,  1.24414301e+00,
        -8.85169148e-01,  1.01193464e+00, -7.36537218e-01,
        -8.19173530e-02, -8.77061546e-01, -5.70424914e-01,
         6.61511242e-01, -9.16465402e-01,  3.94476205e-01,
         2.97007263e-01, -3.26397389e-01,  9.21864271e-01,
        -1.14234149e+00,  1.00568034e-01, -5.52893102e-01,
        -1.45062613e+00,  6.05969846e-01, -5.46418726e-01,
         5.73261797e-01,  1.63080126e-01,  1.04678905e+00,
        -1.91463494e+00, -1.66226304e+00,  5.19154072e-01,
         1.09366572e+00, -1.27891049e-01,  1.14570546e+00,
         1.30851567e-01, -1.40949443e-01, -2.02450109e+00,
        -1.81167281e+00, -2.30017352e+00, -1.13603079e+00,
         6.75666630e-01,  3.11181284e-02,  1.04106486e+00,
        -6.05932534e-01, -9.65746194e-02,  4.57328171e-01,
        -3.23393047e-01,  1.21291257e-01,  3.33289839e-02,
         8.91194701e-01,  1.05459797e+00, -5.45441628e-01,
         3.42523515e-01,  1.96129635e-01, -5.96684098e-01,
         3.08489990e+00,  9.16474640e-01, -8.35937738e-01,
        -1.15886486e+00,  9.61524546e-01, -3.92057389e-01,
         4.06744897e-01, -2.28478813e+00, -8.28227997e-02,
        -1.25144541e+00, -4.97788824e-02, -1.42336500e+00,
        -7.29341984e-01, -8.38114381e-01,  2.28508067e+00,
        -1.34534776e+00, -4.53069717e-01,  1.02812879e-01,
         6.40191913e-01,  2.67710447e+00, -7.27625906e-01,
        -6.69142306e-01,  1.44399953e+00, -4.87434983e-01,
        -1.38399017e+00],
       [-9.18862641e-01,  9.53174591e-01,  1.42935312e+00,
        -1.08185816e+00,  6.40018702e-01,  1.93660453e-01,
         6.20106101e-01,  1.85169780e+00,  8.19099247e-01,
        -1.10251796e+00,  7.14964628e-01, -1.70671806e-01,
         1.38264760e-01,  3.93235773e-01, -1.09426640e-01,
        -2.06374809e-01,  2.94536889e-01, -5.18394820e-02,
        -6.78496480e-01,  1.44981277e+00, -3.82432908e-01,
        -1.20028019e-01, -7.95791805e-01,  2.77568430e-01,
        -1.26778245e+00,  5.74287891e-01,  5.18375218e-01,
         1.52695429e+00,  7.85453737e-01, -1.94175637e+00,
        -4.95536327e-01, -1.04536867e+00,  1.99607372e-01,
         6.67785003e-04,  1.72447467e+00,  1.13944876e+00,
         9.12373841e-01, -1.60820889e+00, -1.91449261e+00,
         3.82642448e-01,  9.33543980e-01,  1.86884475e+00,
        -3.87207478e-01, -2.42446351e+00,  1.50116861e+00,
         3.98535520e-01,  1.20714390e+00,  1.26491606e+00,
        -1.32067907e+00, -1.06917524e+00,  9.64519680e-01,
         3.06249052e-01, -8.48773539e-01,  7.66219676e-01,
        -9.76128161e-01, -7.38508463e-01, -3.77393723e-01,
         1.55230975e+00, -2.92114735e-01,  1.33070741e-02,
        -5.44424713e-01,  7.64244616e-01,  1.15849197e+00,
         1.73752382e-01, -3.00329626e-01, -1.80892086e+00,
        -3.31895500e-01,  1.30748069e+00,  1.87909588e-01,
        -1.59880117e-01,  7.01227665e-01, -3.22266072e-01,
         1.53951004e-01,  1.22810364e+00,  6.75003648e-01,
         1.05276513e+00,  1.10133410e+00,  1.68231741e-01,
         2.25249901e-01, -2.79803157e-01,  5.25958231e-03,
         3.88217837e-01,  5.71119010e-01,  2.74179615e-02,
        -2.29366094e-01,  2.38520056e-01,  3.49464059e-01,
         1.32921851e+00,  1.18230402e+00, -6.03107154e-01,
        -3.52822989e-01,  6.35410726e-01,  2.52047062e-01,
        -5.03830254e-01,  1.78503287e+00,  1.69473544e-01,
        -2.67983600e-02,  1.84177250e-01, -2.90882200e-01,
        -3.34765226e-01]])

In [ ]:
#Split the data into training and testing set
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df,quora['is_duplicate'],test_size=0.2, random_state=50)

#print(f'X train is: \n{X_train}')
print(f'X train shape: {X_train.shape}\n')

#print(f'X test is: \n{X_test}')
print(f'X test shape: {X_test.shape}\n')

#print(f'y train is: \n{y_train}')
print(f'y train shape: {y_train.shape}\n')

#print(f' y test is: \n{y_test}')
print(f'y test shape: {y_test.shape}\n')

X train shape: (323429, 157)

X test shape: (80858, 157)

y train shape: (323429,)

y test shape: (80858,)

In [ ]:
# Define the CNN model

model = Sequential()
model.add(Embedding(vocab_size, 100, weights=[embedding_matrix], input_length=max_length, trainable=False))
model.add(Conv1D(128, 5, activation='relu'))
model.add(MaxPooling1D(5))
model.add(Conv1D(128, 5, activation='relu'))
model.add(MaxPooling1D(5))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test))

Epoch 1/10
10108/10108 [==============================] - 616s 61ms/step - loss: 0.5061 - accuracy: 0.7449 - val_loss: 0.4787 - val_accuracy: 0.7606
Epoch 2/10
10108/10108 [==============================] - 546s 54ms/step - loss: 0.4569 - accuracy: 0.7758 - val_loss: 0.4599 - val_accuracy: 0.7736
Epoch 3/10
10108/10108 [==============================] - 538s 53ms/step - loss: 0.4299 - accuracy: 0.7906 - val_loss: 0.4617 - val_accuracy: 0.7721
Epoch 4/10
10108/10108 [==============================] - 539s 53ms/step - loss: 0.4073 - accuracy: 0.8039 - val_loss: 0.4593 - val_accuracy: 0.7766
Epoch 5/10
10108/10108 [==============================] - 539s 53ms/step - loss: 0.3889 - accuracy: 0.8137 - val_loss: 0.4620 - val_accuracy: 0.7830
Epoch 6/10
10108/10108 [==============================] - 539s 53ms/step - loss: 0.3721 - accuracy: 0.8234 - val_loss: 0.4539 - val_accuracy: 0.7816
Epoch 7/10
 8069/10108 [======================>.......] - ETA: 1:42 - loss: 0.3545 - accuracy: 0.8332

In [ ]:
loss, accuracy= model.evaluate(X_test, y_test)
print(f"Test loss: {loss}")
print(f"Test accuracy: {accuracy}")

In [ ]:
cnn_pred = np.round(model.predict(X_test))

In [ ]:
# Precision , Recall , F1-score
cr_lstm = classification_report(y_test,cnn_pred)
print(cr_lstm)

In [ ]:
# # RNN/GRU model
# model_GRU = Sequential([
#     Embedding(vocab_size, 100, \
#               embeddings_initializer=tf.keras.initializers.Constant(embedding_matrix),\
#               input_length=max_length, trainable=False),
#     Bidirectional(tf.keras.layers.GRU(256, return_sequences=True)),
#     tf.keras.layers.GlobalAveragePooling1D(),
#     tf.keras.layers.Dense(64, activation='relu'),
#     tf.keras.layers.Dropout(0.4),
#     tf.keras.layers.Dense(1, activation='softmax')
# ])
# model_GRU.compile(loss='categorical_crossentropy', optimizer="adam", metrics=['accuracy'])
# print(model.summary())

In [ ]:
# tf.keras.utils.plot_model(model_GRU)

In [ ]:
# history_GRU = model_GRU.fit(X_train, y_train, batch_size=100, epochs=5, validation_split=0.1)

In [ ]:
# loss_GRU, accuracy_GRU= model_GRU.evaluate(X_test, y_test)
# print(f"Test loss: {loss}")
# print(f"Test accuracy: {accuracy}")

In [ ]:
# lstm_pred = np.round(model_GRU.predict(X_test))

In [ ]:
# # Precision , Recall , F1-score
# cr_lstm = classification_report(y_test,lstm_pred)
# print(cr_lstm)